td {
  border: 1px solid;
  padding: -1px;
  text-align: center;
}
.background{
    background-color: rgba(251, 130, 0, 0.815);
    font-size: large;
    font-weight: 700;
}
#hResult, #wResult{
  color:red;
}
.hide{
  display:none;
}
.show{
  display:block;
}